<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.IDispatchApplicationManagementMapper">
    <resultMap id="entity" type="com.example.manage.entity.DispatchApplicationManagement">
        <result column="id" property="id" />
        <result column="applicant" property="applicant" />
        <result column="phone" property="phone" />
        <result column="personnel_code" property="personnelCode" />
        <result column="remark" property="remark" />
        <result column="ago_management_id" property="agoManagementId" />
        <result column="later_management_id" property="laterManagementId" />
        <result column="dispathch_time" property="dispathchTime" />
        <result column="applicant_time" property="applicantTime" />
        <result column="max_number" property="maxNumber" />
        <result column="applicant_state" property="applicantState" />
        <result column="verifier_time" property="verifierTime" />
        <association property="agoVerifierSysManagement" javaType="com.example.manage.entity.SysManagement">
            <result column="m_1_name" property="name" />
        </association>
        <association property="laterVerifierSysManagement" javaType="com.example.manage.entity.SysManagement">
            <result column="m_2_name" property="name" />
        </association>
        <collection property="dispatchApplicationReimbursements" ofType="com.example.manage.entity.DispatchApplicationReimbursement">
            <result column="d_a_r_id" property="id" />
            <result column="d_a_r_personnel_id" property="personnelId" />
            <result column="d_a_r_verifier_remark" property="verifierRemark" />
            <result column="d_a_r_verifier_state" property="verifierState" />
            <result column="d_a_r_verifier_time" property="verifierTime" />
            <result column="d_a_r_dispatch_code" property="dispatchCode" />
            <result column="d_a_r_dispatch_state" property="dispatchState" />
            <result column="d_a_r_number" property="number" />
            <result column="d_a_r_personnel_name" property="personnelName" />
        </collection>
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(DISTINCT <include refid="tableSql"/>.id) as id from
        <include refid="tableSqlDAM" />
        as
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
            <include refid="returnSql"/>
        from
        (<include refid="tableReturn" /> )
        as
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
        <include refid="safeOrderBy"/>
    </select>
    <sql id="tableSql">
        d_a_m
    </sql>
    <sql id="tableSqlPersonnel">
        manage.sys_personnel
    </sql>
    <sql id="tableSqlDAReimbursement">
        manage.dispatch_application_reimbursement
    </sql>
    <sql id="tableSqlDAM">
        manage.dispatch_application_management
    </sql>
    <!--  子表  -->
    <sql id="tableReturn">
        select
        <include refid="tableSqlDAM"/>.*
        from
        <include refid="tableSqlDAM"/>
        <include refid="whereSqlModelDAM" />
        <include refid="safeOrderByDAM"/>
        <include refid="safeLIMIT"/>
    </sql>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="tableSql"/>.*
        ,sys_m_1.`name` as m_1_name
        ,sys_m_2.`name` as m_2_name

        ,<include refid="tableSqlPersonnel" />.`name` as d_a_r_personnel_name

        ,<include refid="tableSqlDAReimbursement" />.`verifier_remark` as `d_a_r_verifier_remark`
        ,<include refid="tableSqlDAReimbursement" />.`verifier_state` as `d_a_r_verifier_state`
        ,<include refid="tableSqlDAReimbursement" />.`verifier_time` as `d_a_r_verifier_time`
        ,<include refid="tableSqlDAReimbursement" />.`dispatch_state` as `d_a_r_dispatch_state`
        ,<include refid="tableSqlDAReimbursement" />.`number` as `d_a_r_number`
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN sys_management as sys_m_1 on sys_m_1.id = <include refid="tableSql" />.ago_management_id
        LEFT JOIN sys_management as sys_m_2 on sys_m_2.id = <include refid="tableSql" />.later_management_id
        LEFT JOIN <include refid="tableSqlDAReimbursement" /> on <include refid="tableSqlDAReimbursement" />.dispatch_code = <include
            refid="tableSql" />.dispatch_code
        LEFT JOIN sys_personnel on sys_personnel.id = <include refid="tableSqlDAReimbursement" />.personnel_id
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and <include refid="tableSql"/>.`id` = #{id}</if>
        <if test="keyWord != null and keyWord != ''"> and <include refid="tableSql" />.`applicant` like concat('%',#{keyWord},'%')</if>
        <if test="personnelCode != null "> and <include refid="tableSql" />.`personnel_code` = #{personnelCode}</if>
        <if test="personnelId != null ">
         and
            <include refid="tableSqlDAReimbursement" />.`personnel_id` = #{personnelId}
         </if>
        <if test="type == 'gt'">
            and
            <include refid="tableSqlDAReimbursement" />.`number` >= <include refid="tableSql"/>.`max_number`
        </if>
    </sql>
    <sql id="whereSqlModelDAM">
        where 1 = 1
        <if test="id != null "> and <include refid="tableSqlDAM"/>.`id` = #{id}</if>
        <if test="keyWord != null and keyWord != ''"> and <include refid="tableSqlDAM" />.`applicant` like concat('%',#{keyWord},'%')</if>
        <if test="personnelCode != null "> and <include refid="tableSqlDAM" />.`personnel_code` = #{personnelCode}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc,<include refid="tableSqlDAReimbursement" />.`number` desc
    </sql>
    <sql id="safeOrderByDAM">
        order by <include refid="tableSqlDAM"/>.id desc
    </sql>
</mapper>
