<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.WhiteFurloughRecordMapper">
    <resultMap id="entity" type="com.example.manage.entity.FurloughRecord">
        <result column="id" property="id" />
        <result column="personnel_name" property="personnelName" />
        <result column="personnel_id" property="personnelId" />
        <result column="management_id" property="managementId" />
        <result column="management_name" property="managementName" />
        <result column="reissue_state" property="reissueState" />
        <result column="max_number" property="maxNumber" />
        <result column="reissue_code" property="reissueCode" />
        <result column="reissue_type" property="reissueType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="verifier_remark" property="verifierRemark" />
        <result column="applicant_time" property="applicantTime" />
        <collection property="furloughReimbursements" ofType="com.example.manage.entity.FurloughReimbursement">
            <result column="c_id" property="id" />
            <result column="c_personnel_id" property="personnelId" />
            <result column="c_verifier_remark" property="verifierRemark" />
            <result column="c_verifier_time" property="verifierTime" />
            <result column="c_reissue_code" property="reissueCode" />
            <result column="c_reissue_state" property="reissueState" />
            <result column="c_number" property="number" />
            <result column="c_personnel_name" property="personnelName" />
        </collection>
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSqlFR" />
        as
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql"/>
        from
        (<include refid="tableReturn" /> )
        as
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
    </select>
    <sql id="tableSql">
        f_record
    </sql>
    <sql id="tableSqlReimbursement">
        manage.furlough_reimbursement
    </sql>
    <sql id="tableSqlPersonnel">
        manage.sys_personnel
    </sql>
    <sql id="tableSqlFR">
        manage.furlough_record
    </sql>
    <!--  子表  -->
    <sql id="tableReturn">
        select
        <include refid="tableSqlFR"/>.*
        from
        <include refid="tableSqlFR"/>
        <include refid="safeOrderByFR"/>
        <include refid="safeLIMIT"/>
    </sql>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="tableSql"/>.*,

        <include refid="tableSqlReimbursement"/>.id as c_id,
        <include refid="tableSqlReimbursement"/>.personnel_id as c_personnel_id,
        <include refid="tableSqlReimbursement"/>.verifier_remark as c_verifier_remark,
        <include refid="tableSqlReimbursement"/>.verifier_state as c_verifier_state,
        <include refid="tableSqlReimbursement"/>.verifier_time as c_verifier_time,
        <include refid="tableSqlReimbursement"/>.reissue_code as c_reissue_code,
        <include refid="tableSqlReimbursement"/>.reissue_state as c_reissue_state,
        <include refid="tableSqlReimbursement"/>.number as c_number
        ,<include refid="tableSqlPersonnel" />.`name` as c_personnel_name

    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN <include refid="tableSqlReimbursement" /> on <include refid="tableSqlReimbursement" />.reissue_code = <include refid="tableSql" />.reissue_code
        LEFT JOIN <include refid="tableSqlPersonnel" /> on <include refid="tableSqlPersonnel" />.id = <include refid="tableSqlReimbursement" />.personnel_id
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and <include refid="tableSql"/>.`id` = #{id}</if>
        <if test="personnelId != null "> and <include refid="tableSql"/>.`personnel_id` = #{personnelId}</if>
        <if test="reissueState != null "> and <include refid="tableSql"/>.`reissue_state` = #{reissueState}</if>
        <if test="auditorPersonnelId != null">
            and <include refid="tableSqlReimbursement"/>.`personnel_id` = #{auditorPersonnelId}
        </if>
        <if test="type == 'gt'">
            and
            <include refid="tableSqlReimbursement" />.`number` >= <include refid="tableSql"/>.`max_number`
        </if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderByFR">
        order by <include refid="tableSqlFR"/>.id desc
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc, <include refid="tableSqlReimbursement" />.`number` desc
    </sql>
</mapper>
