<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.IFurloughReimbursementMapper">
    <resultMap id="entity" type="com.example.manage.entity.FurloughReimbursement">
        <result column="id" property="id" />
        <result column="personnel_id" property="personnelId" />
        <result column="verifier_remark" property="verifierRemark" />
        <result column="verifier_time" property="verifierTime" />
        <result column="reissue_code" property="reissueCode" />
        <result column="reissue_state" property="reissueState" />
        <result column="number" property="number" />
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSql"/>
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </select>
    <sql id="tableSql">
        manage.furlough_reimbursement
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and `id` = #{id}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc
    </sql>
</mapper>
