<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.IFurloughRecordMapper">
    <resultMap id="entity" type="com.example.manage.entity.FurloughRecord">
        <result column="id" property="id" />
        <result column="personnel_name" property="personnelName" />
        <result column="personnel_id" property="personnelId" />
        <result column="management_id" property="managementId" />
        <result column="management_name" property="managementName" />
        <result column="reissue_state" property="reissueState" />
        <result column="max_number" property="maxNumber" />
        <result column="reissue_code" property="reissueCode" />
        <result column="reissue_type" property="reissueType" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="applicant_time" property="applicantTime" />
        <result column="verifier_remark" property="verifierRemark" />


        <association property="sysManagement" javaType="com.example.manage.entity.SysManagement">
            <result column="s_m_name" property="name" />
        </association>

        <collection property="furloughReimbursements" ofType="com.example.manage.entity.FurloughReimbursement">
            <result column="f_r_id" property="id" />
            <result column="f_r_personnel_id" property="personnelId" />
            <result column="f_r_verifier_remark" property="verifierRemark" />
            <result column="f_r_verifier_time" property="verifierTime" />
            <result column="f_r_reissue_code" property="reissueCode" />
            <result column="f_r_reissue_state" property="reissueState" />
            <result column="f_r_number" property="number" />
            <result column="f_r_personnel_name" property="personnelName" />
        </collection>
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSql"/>
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql"/>
        from
        (<include refid="tableReturn" />)
        as
        <include refid="fRecord"/>
        <include refid="relevanceSql" />
        <include refid="safeOrderByAs" />
    </select>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="fRecord"/>.*

        ,<include refid="tableSqlFurloughReimbursement" />.id as f_r_id
        ,<include refid="tableSqlFurloughReimbursement" />.personnel_id as f_r_personnel_id
        ,<include refid="tableSqlFurloughReimbursement" />.verifier_remark as f_r_verifier_remark
        ,<include refid="tableSqlFurloughReimbursement" />.verifier_time as f_r_verifier_time
        ,<include refid="tableSqlFurloughReimbursement" />.reissue_code as f_r_reissue_code
        ,<include refid="tableSqlFurloughReimbursement" />.reissue_state as f_r_reissue_state
        ,<include refid="tableSqlFurloughReimbursement" />.number as f_r_number

        ,<include refid="tableSqlSysManagement" />.`name` as s_m_name

        ,<include refid="tableSqlSysPersonnel" />.`name` as f_r_personnel_name
    </sql>
    <!--  虚拟表  -->
    <sql id="fRecord">
        f_record
    </sql>
    <!--  主表  -->
    <sql id="tableSql">
        manage.furlough_record
    </sql>
    <!--  审核人  -->
    <sql id="tableSqlFurloughReimbursement">
        manage.furlough_reimbursement
    </sql>
    <!--  项目组  -->
    <sql id="tableSqlSysManagement">
        manage.sys_management
    </sql>
    <!--  人员信息表  -->
    <sql id="tableSqlSysPersonnel">
        manage.sys_personnel
    </sql>
    <!--  子表  -->
    <sql id="tableReturn">
        select
        <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </sql>

    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN <include refid="tableSqlFurloughReimbursement" /> on <include refid="fRecord" />.reissue_code = <include refid="tableSqlFurloughReimbursement" />.reissue_code
        LEFT JOIN <include refid="tableSqlSysManagement" /> on <include refid="fRecord" />.management_id = <include refid="tableSqlSysManagement" />.id
        LEFT JOIN <include refid="tableSqlSysPersonnel" /> on <include refid="tableSqlFurloughReimbursement" />.personnel_id = <include refid="tableSqlSysPersonnel" />.id
    </sql>

    <!--  审批人排序  -->
    <sql id="safeOrderByAs">
        order by <include refid="tableSqlFurloughReimbursement"/>.number desc
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and `id` = #{id}</if>
        <if test="personnelId != null "> and `personnel_id` = #{personnelId}</if>
        <if test="reissueState != null "> and <include refid="tableSql" />.`reissue_state` = #{reissueState}</if>
        <if test="keyWord != null and keyWord != ''"> and <include refid="tableSql" />.`personnel_name` like concat('%',#{personnelName},'%')</if>
        <if test="startTime != null and endTime != ''"> and (<include refid="tableSql" />.`start_time` BETWEEN #{startTime} AND #{endTime} or <include refid="tableSql" />.`end_time` BETWEEN #{startTime} AND #{endTime})</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc
    </sql>
</mapper>
