<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.IPerformanceReportMapper">
    <resultMap id="entity" type="com.example.manage.entity.PerformanceReport">
        <result column="id" property="id" />
        <result column="personnel_code" property="personnelCode" />
        <result column="report_time" property="reportTime" />
        <result column="update_time" property="updateTime" />
        <result column="management_id" property="managementId" />
        <result column="report_coding" property="reportCoding" />
        <result column="approver_personnel_id" property="approverPersonnelId" />
        <result column="remark" property="remark" />
        <result column="comments_from_reviewers" property="commentsFromReviewers" />
        <result column="approver_state" property="approverState" />
        <result column="card_type_id" property="cardTypeId" />
        <result column="approver_time" property="approverTime" />
        <result column="report_number" property="reportNumber" />

        <result column="entry_number" property="entryNumber" />
        <result column="approved_number" property="approvedNumber" />
        <result column="valid_number" property="validNumber" />
        <result column="refuse_number" property="refuseNumber" />

        <association property="cardType" javaType="com.example.manage.entity.CardType">
            <result column="c_id" property="id" />
            <result column="c_name" property="name" />
            <result column="c_amount" property="amount" />
        </association>
        <association property="sysPersonnel" javaType="com.example.manage.entity.SysPersonnel">
            <result column="p_name" property="name" />
        </association>
        <association property="approverSysPersonnel" javaType="com.example.manage.entity.SysPersonnel">
            <result column="p_1_name" property="name" />
        </association>
        <association property="sysManagement" javaType="com.example.manage.entity.SysManagement">
            <result column="m_id" property="id" />
            <result column="m_name" property="name" />
            <result column="m_project_address" property="projectAddress" />
            <result column="m_available_balance" property="availableBalance" />
            <result column="m_monthly_indicators" property="monthlyIndicators" />
            <result column="m_management_state" property="managementState" />
        </association>
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
            <include refid="returnSql"/>
        from
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </select>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="tableSql"/>.*
        ,sys_personnel.`name` as p_name
        ,sys_personnel_1.`name` as p_1_name
        ,sys_management.id as m_id
        ,sys_management.name as m_name
        ,sys_management.project_address as m_project_address
        ,sys_management.available_balance as m_available_balance
        ,sys_management.monthly_indicators as m_monthly_indicators
        ,sys_management.management_state as m_management_state
        ,card_type.id as c_id
        ,card_type.name as c_name
        ,card_type.amount as c_amount
    </sql>
    <sql id="tableSql">
        manage.performance_report
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN sys_personnel on sys_personnel.personnel_code = <include refid="tableSql"/>.personnel_code
        LEFT JOIN sys_management on sys_management.id = <include refid="tableSql"/>.management_id
        LEFT JOIN sys_personnel as sys_personnel_1 on sys_personnel_1.id = <include refid="tableSql"/>.approver_personnel_id
        LEFT JOIN card_type on card_type.id = <include refid="tableSql"/>.card_type_id
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and <include refid="tableSql" />.`id` = #{id}</if>
        <if test="keyWord != null and keyWord != ''"> and sys_personnel.`name` like concat('%',#{keyWord},'%')</if>
        <if test="personnelId != null "> and sys_personnel.`id` = #{personnelId}</if>
        <if test="approverState != null and approverState != ''"> and <include refid="tableSql" />.`approver_state` = #{approverState}</if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''"> and <include refid="tableSql" />.`report_time` BETWEEN #{startTime} AND #{endTime}</if>
        <if test="managementId != null and managementId != ''"> and <include refid="tableSql" />.`management_id` = #{managementId}</if>
        <if test="approverPersonnelId != null and approverPersonnelId != ''"> and <include refid="tableSql" />.`approver_personnel_id` = #{approverPersonnelId}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="orderByTime != 'yes'">
            order by <include refid="tableSql"/>.id desc
        </if>
        <if test="orderByTime == 'yes'">
            order by
                <include refid="tableSql"/>.update_time desc
                ,<include refid="tableSql"/>.report_time desc
                ,<include refid="tableSql"/>.approver_time desc
        </if>
    </sql>
</mapper>
