<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.IReimbursementApprovalMapper">
    <resultMap id="entity" type="com.example.manage.entity.ReimbursementApproval">
        <result column="id" property="id" />
        <result column="reimbursement_record_code" property="reimbursementRecordCode" />
        <result column="personnel_code" property="personnelCode" />
        <result column="personnel_name" property="personnelName" />
        <result column="number" property="number" />
        <result column="approval_time" property="approvalTime" />
        <result column="approval_state" property="approvalState" />
        <result column="remark" property="remark" />
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql" />.id) as id from
        <include refid="tableSql"/>
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryMax" resultType="int" parameterType="hashmap">
        select
            max(<include refid="tableSql" />.`number`)
        from
            <include refid="tableSql"/>
            <include refid="whereSqlModel" />
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </select>
    <sql id="tableSql">
        manage.reimbursement_approval
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="reimbursementRecordCode != null "> and `reimbursement_record_code` = #{reimbursementRecordCode}</if>
        <if test="approvalState != null "> and `approval_state` = #{approvalState}</if>
        <if test="nePersonnelCode != null "> and `personnel_code` != #{nePersonnelCode}</if>
        <if test="number != null "> and `number` = #{number}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc
    </sql>
</mapper>
