<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.ISignInReviewMapper">
    <resultMap id="entity" type="com.example.manage.entity.SignInReview">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="personnel_code" property="personnelCode" />
        <result column="clock_in_time" property="clockInTime" />
        <result column="management_id" property="managementId" />
        <result column="ago_open_id" property="agoOpenId" />
        <result column="later_open_id" property="laterOpenId" />
        <result column="clock_in_state" property="clockInState" />
        <result column="attendance_time" property="attendanceTime" />
        <result column="clocking_day_time" property="clockingDayTime" />
        <result column="check_in_time_id" property="checkInTimeId" />
        <result column="check_in_time_name" property="checkInTimeName" />
        <result column="ago_state" property="agoState" />
        <result column="model" property="model" />
        <result column="punching_card_record_code" property="punchingCardRecordCode" />
        <result column="check_in_type" property="checkInType" />
        <result column="check_remark" property="remark" />
        <result column="sign_in_type" property="signInType" />
        <result column="dispatch_code" property="dispatchCode" />
        <result column="verifier_state" property="verifierState" />
        <result column="max_number" property="maxNumber" />

        <association property="sysManagement" javaType="com.example.manage.entity.SysManagement">
            <result column="s_m_id" property="id" />
            <result column="s_m_name" property="name" />
        </association>

        <collection property="reimbursementImages" ofType="com.example.manage.entity.ReimbursementImage">
            <result column="r_path_code" property="pathCode" />
            <result column="r_path_url" property="pathUrl" />
            <result column="r_http_url" property="httpUrl" />
        </collection>

        <collection property="signInReviewReimbursements" ofType="com.example.manage.entity.SignInReviewReimbursement">
            <result column="s_id" property="id" />
            <result column="s_personnel_id" property="personnelId" />
            <result column="s_verifier_remark" property="verifierRemark" />
            <result column="s_verifier_state" property="verifierState" />
            <result column="s_verifier_time" property="verifierTime" />
            <result column="s_dispatch_code" property="dispatchCode" />
            <result column="s_dispatch_state" property="dispatchState" />
            <result column="s_number" property="number" />
            <result column="p_name" property="personnelName" />
        </collection>

    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
    </select>
    <sql id="tableSqlAs">
        s_i_review
    </sql>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql"/>
        from
        (<include refid="tableReturn" />)
        as
        <include refid="tableSqlAs" />
        <include refid="relevanceSqlAs" />
    </select>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="tableSqlAs"/>.*

        ,<include refid="tableSqlSignInReviewReimbursement" />.id as s_id
        ,<include refid="tableSqlSignInReviewReimbursement" />.personnel_id as s_personnel_id
        ,<include refid="tableSqlSignInReviewReimbursement" />.verifier_remark as s_verifier_remark
        ,<include refid="tableSqlSignInReviewReimbursement" />.verifier_state as s_verifier_state
        ,<include refid="tableSqlSignInReviewReimbursement" />.verifier_time as s_verifier_time
        ,<include refid="tableSqlSignInReviewReimbursement" />.dispatch_code as s_dispatch_code
        ,<include refid="tableSqlSignInReviewReimbursement" />.dispatch_state as s_dispatch_state
        ,<include refid="tableSqlSignInReviewReimbursement" />.number as s_number

        ,<include refid="tableSqlSysManagement" />.id as s_m_id
        ,<include refid="tableSqlSysManagement" />.name as s_m_name


        ,<include refid="tableSqlReimbursementImage" />.path_url as r_path_url
        ,<include refid="tableSqlReimbursementImage" />.path_code as p_path_code
        ,<include refid="tableSqlReimbursementImage" />.http_url as p_http_url

        ,<include refid="tableSqlSysPersonnel" />.name as p_name
    </sql>
    <!--  子表  -->
    <sql id="tableReturn">
        select
        <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
        <include refid="safeGroupBy" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </sql>
    <sql id="tableSql">
        manage.sign_in_review
    </sql>
    <sql id="tableSqlSignInReviewReimbursement">
        manage.sign_in_review_reimbursement
    </sql>
    <sql id="tableSqlSysManagement">
        manage.sys_management
    </sql>
    <sql id="tableSqlReimbursementImage">
        manage.reimbursement_image
    </sql>
    <sql id="tableSqlSysPersonnel">
        manage.sys_personnel
    </sql>
    <sql id="relevanceSql">
        LEFT JOIN <include refid="tableSqlSignInReviewReimbursement" /> on <include refid="tableSqlSignInReviewReimbursement" />.dispatch_code = <include refid="tableSql"/>.dispatch_code
        LEFT JOIN <include refid="tableSqlSysManagement" /> on <include refid="tableSqlSysManagement" />.id = <include refid="tableSql"/>.management_id
        LEFT JOIN <include refid="tableSqlReimbursementImage" /> on <include refid="tableSqlReimbursementImage" />.path_code = <include refid="tableSql"/>.dispatch_code
        LEFT JOIN <include refid="tableSqlSysPersonnel" /> on <include refid="tableSqlSysPersonnel" />.id = <include refid="tableSqlSignInReviewReimbursement" />.personnel_id
    </sql>
    <sql id="relevanceSqlAs">
        LEFT JOIN <include refid="tableSqlSignInReviewReimbursement" /> on <include refid="tableSqlSignInReviewReimbursement" />.dispatch_code = <include refid="tableSqlAs"/>.dispatch_code
        LEFT JOIN <include refid="tableSqlSysManagement" /> on <include refid="tableSqlSysManagement" />.id = <include refid="tableSqlAs"/>.management_id
        LEFT JOIN <include refid="tableSqlReimbursementImage" /> on <include refid="tableSqlReimbursementImage" />.path_code = <include refid="tableSqlAs"/>.dispatch_code
        LEFT JOIN <include refid="tableSqlSysPersonnel" /> on <include refid="tableSqlSysPersonnel" />.id = <include refid="tableSqlSignInReviewReimbursement" />.personnel_id
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and `id` = #{id}</if>
        <if test="personnelId != null"> and <include refid="tableSqlSignInReviewReimbursement" />.personnel_id = #{personnelId}</if>
        <if test="startTime != null and endTime!= null"> and <include refid="tableSql" />.clocking_day_time BETWEEN #{startTime} AND #{endTime}</if>
        <if test="verifierState != null"> and <include refid="tableSql" />.verifier_state = #{verifierState}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by FIELD(<include refid="tableSql"/>.`verifier_state`,
        'pending') desc,<include refid="tableSql"/>.id desc,<include refid="tableSqlSignInReviewReimbursement" />.`number` desc
    </sql>
    <sql id="safeGroupBy">
        GROUP BY <include refid="tableSql"/>.id
    </sql>
</mapper>
