<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.ISysRoleMapper">
    <resultMap id="entity" type="com.example.manage.entity.SysRole">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="level_sorting" property="levelSorting" />
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(<include refid="tableSql"/>.id) as id from
        <include refid="tableSql"/>
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
        <include refid="safeLIMIT"/>
    </select>
    <sql id="tableSql">
        manage.sys_role
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and `id` = #{id}</if>
        <if test="keyWord != null "> and `name` like concat('%',#{keyWord},'%')</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.level_sorting
    </sql>

    <!--  所有当前包含当前等级以及一下的数据加1  -->
    <update id="updateInsertLevelAugment" parameterType="java.lang.Integer">
        update sys_role set level_sorting = level_sorting + 1 where level_sorting >= #{levelSorting}
    </update>
    <update id="updateInsertLevel" parameterType="java.lang.Integer">
        update sys_role set level_sorting = level_sorting + 1 where level_sorting > #{levelSorting}
    </update>
    <!--  所有当前包含当前等级以及一下的数据减1  -->
    <update id="updateInsertLevelSubtract" parameterType="hashmap">
        update
            sys_role
        set
            level_sorting = level_sorting - 1
        where
              level_sorting >= #{laterLlevelSorting}
          and
              level_sorting &lt;= #{agoLevelSorting}
    </update>
</mapper>