<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.NumberPerformanceReportMapper">
    <resultMap id="entity" type="com.example.manage.entity.number.PerformanceReportNumber">
        <result column="all" property="all" />
        <result column="approve" property="approve" />
        <result column="active" property="active" />
        <result column="refuse" property="refuse" />
        <result column="pendding" property="pendding" />
        <result column="this_month_active" property="thisMonthActive" />
        <result column="this_month_approve" property="thisMonthApprove" />
        <result column="approverState" property="approverState" />
        <collection property="performanceReport" ofType="com.example.manage.entity.number.PerformanceReportNumber">

        </collection>
    </resultMap>

    <select id="queryOne" resultMap="entity" parameterType="hashmap">
        select
        coalesce(SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.entry_number else 0 end),0)
        as
        `all`
        ,
        coalesce(SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.approved_number else 0 end),0)
        as
        `approve`
        ,
        coalesce(SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.valid_number else 0 end),0)
        as
        `active`
        ,
        coalesce(SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.refuse_number else 0 end),0)
        as
        `refuse`
        ,
        coalesce(SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.entry_number else 0 end) -
        SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.approved_number else 0 end) -
        SUM(case when  <include refid="tableSql" />.id  then <include refid="tableSql" />.refuse_number else 0 end),0)
        as
        `pendding`
        ,
        coalesce((<include refid="acCountSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel2"/>
        <include refid="curdateTime" />),0)
        as
        `this_month_active`
        ,
        coalesce((<include refid="approvedCountSql"/>
        <include refid="relevanceSql" />
        <include refid="whereSqlModel2"/>
        <include refid="curdateTime" />),0)
        as
        `this_month_approve`
        from
        <include refid="tableSql" />
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
    </select>
    <!--  表名  -->
    <sql id="tableSql">
        manage.performance_report
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN sys_personnel on sys_personnel.personnel_code = <include refid="tableSql"/>.personnel_code
    </sql>
    <!--  查询总数  -->
    <sql id="countSql">
        SELECT
        SUM(<include refid="tableSql" />.report_number)
        FROM
        <include refid="tableSql" />
    </sql>
    <!--  查询总数  -->
    <sql id="acCountSql">
        SELECT
        SUM(<include refid="tableSql" />.entry_number)
        FROM
        <include refid="tableSql" />
    </sql>
    <!--  查询总数  -->
    <sql id="approvedCountSql">
        SELECT
        SUM(<include refid="tableSql" />.approved_number)
        FROM
        <include refid="tableSql" />
    </sql>
    <!--  条件  -->
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="personnelId != null"> and sys_personnel.`id` = #{personnelId}</if>
        <if test="approverState != null and approverState != ''"> and <include refid="tableSql" />.`approver_state` = #{approverState}</if>
    </sql>
    <!--  条件2  -->
    <sql id="whereSqlModel2">
        where 1 = 1
        <if test="personnelId != null"> and sys_personnel.`id` = #{personnelId}</if>
    </sql>
    <!--  批核未激活  -->
    <sql id="approve">
        and <include refid="tableSql" />.report_status = '批核未激活'
    </sql>
    <!--  激活  -->
    <sql id="active">
        and <include refid="tableSql" />.report_status = '批核已激活'
    </sql>
    <!--  拒绝  -->
    <sql id="refuse">
        and <include refid="tableSql" />.report_status = '拒绝'
    </sql>
    <!--  转人工  -->
    <sql id="pendding">
        and <include refid="tableSql" />.report_status = '转人工'
    </sql>
    <!--  当前本月时间  -->
    <sql id="curdateTime">
        and DATE_FORMAT( <include refid="tableSql" />.report_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </sql>
</mapper>