<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.WhiteManageReimbursementRecordMapper">
    <resultMap id="entity" type="com.example.manage.entity.ManageReimbursementRecord">
        <result column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="declaration_code" property="declarationCode" />
        <result column="account" property="account" />
        <result column="applicant" property="applicant" />
        <result column="reimbursement_type" property="reimbursementType" />
        <result column="amount_declared" property="amountDeclared" />
        <result column="declaration_time" property="declarationTime" />
        <result column="approver_time" property="approverTime" />
        <result column="remark" property="remark" />
        <result column="approver_state" property="approverState" />
        <result column="bank_account" property="bankAccount" />
        <result column="bank_of_deposit" property="bankOfDeposit" />
        <collection property="reimbursementApprovals" ofType="com.example.manage.entity.ReimbursementApproval">
            <result column="r_a_personnel_name" property="personnelName" />
            <result column="r_a_approval_state" property="approvalState" />
            <result column="r_a_approval_time" property="approvalTime" />
            <result column="r_a_remark" property="remark" />
        </collection>
        <collection property="reimbursementCategories" ofType="com.example.manage.entity.ReimbursementCategory">
            <result column="r_c_name" property="name" />
            <result column="r_c_amout" property="amout" />
            <result column="r_c_reimbursement_type" property="reimbursementType" />
            <result column="r_c_occurrence_time" property="occurrenceTime" />
            <result column="r_c_remark" property="remark" />
            <collection property="reimbursementImages" ofType="com.example.manage.entity.ReimbursementImage">
                <result column="r_i_path_url" property="pathUrl" />
            </collection>
        </collection>
        <collection property="reimbursementCopies" ofType="com.example.manage.entity.ReimbursementCopy">
            <result column="r_copy_personnel_name" property="personnelName" />
            <result column="r_copy_copy_time" property="copyTime" />
        </collection>
        <collection property="reimbursementProjects" ofType="com.example.manage.entity.ReimbursementProject">
            <result column="r_p_name" property="name" />
            <result column="r_p_amount" property="amount" />
        </collection>
    </resultMap>
    <select id="queryCount" resultType="int" parameterType="hashmap">
        select count(DISTINCT <include refid="tableSqlAs"/>.id) as id from
        <include refid="tableSql" />
        as
        <include refid="tableSqlAs" />
        <include refid="relevanceSql" />
        <include refid="whereSqlModel"/>
    </select>
    <select id="queryApproverAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql"/>
        from
        (<include refid="tableReturn" />)
        as
        <include refid="tableSqlAs" />
        <include refid="relevanceSqlApproverAll" />
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
    </select>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql"/>
        from
        (<include refid="tableReturn" />)
        as
        <include refid="tableSqlAs" />
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy"/>
    </select>
    <!--  返回  -->
    <sql id="returnSql">
        <include refid="tableSqlAs" />.*
        ,reimbursement_approval.personnel_name as r_a_personnel_name
        ,reimbursement_approval.approval_state as r_a_approval_state
        ,reimbursement_approval.remark as r_a_remark
        ,reimbursement_approval.approval_time as r_a_approval_time

        ,reimbursement_category.name as r_c_name
        ,reimbursement_category.amout as r_c_amout
        ,reimbursement_category.reimbursement_type as r_c_reimbursement_type
        ,reimbursement_category.occurrence_time as r_c_occurrence_time
        ,reimbursement_category.remark as r_c_remark

        ,reimbursement_image.path_url as r_i_path_url

        ,reimbursement_copy.personnel_name as r_copy_personnel_name
        ,reimbursement_copy.copy_time as r_copy_copy_time

        ,reimbursement_project.name as r_p_name
        ,reimbursement_project.amount as r_p_amount
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN reimbursement_category on reimbursement_category.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_approval on reimbursement_approval.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_copy on reimbursement_copy.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_project on reimbursement_project.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN sys_personnel on sys_personnel.username = <include refid="tableSqlAs" />.account
        LEFT JOIN reimbursement_image on reimbursement_image.path_code = reimbursement_category.reimbursement_category_code
    </sql>
    <!--  进行关联审核人表  -->
    <sql id="relevanceSqlApproverAll">
        LEFT JOIN reimbursement_category on reimbursement_category.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_approval on reimbursement_approval.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_copy on reimbursement_copy.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN reimbursement_project on reimbursement_project.reimbursement_record_code = <include refid="tableSqlAs" />.declaration_code
        LEFT JOIN sys_personnel on sys_personnel.personnel_code = reimbursement_approval.personnel_code
        LEFT JOIN reimbursement_image on reimbursement_image.path_code = reimbursement_category.reimbursement_category_code
    </sql>
    <!--  表别名  -->
    <sql id="tableSqlAs">
        m_r_record
    </sql>
    <!--  子表  -->
    <sql id="tableReturn">
        select
        <include refid="tableSql"/>.*
        from
        <include refid="tableSql"/>
        <include refid="safeLIMIT"/>
    </sql>
    <sql id="tableSql">
        manage.manage_reimbursement_record
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="id != null "> and <include refid="tableSqlAs" />.`id` = #{id}</if>
        <if test="personnelId != null"> and sys_personnel.id = #{personnelId}</if>
        <if test="approverState != null"> and <include refid="tableSqlAs" />.approver_state = #{approverState}</if>
    </sql>
    <sql id="safeLIMIT">
        <if test="queryAll != 'yes'">
            <if test="pageNum != null and pageNum != ''">
                LIMIT #{index},#{pageNum}
            </if>
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSqlAs"/>.id desc ,reimbursement_approval.number
    </sql>
</mapper>
