<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.WhiteDataStatisticsMapper">
    <resultMap id="entity" type="com.example.manage.entity.data_statistics.DataStatistics">
        <collection property="dataStatisticsTodayDays" ofType="com.example.manage.entity.data_statistics.DataStatisticsTodayDay">
            <result column="today_day_activation" property="activation" />
            <result column="today_day_approved" property="approved" />
            <result column="today_day_artificial" property="artificial" />
            <result column="today_day_refuse" property="refuse" />
            <result column="today_day_all" property="all" />

            <result column="today_day_name" property="nametype" />
            <result column="today_day_start_time" property="startTime" />
            <result column="today_day_end_time" property="endTime" />

            <result column="today_day_activation_growth_rate" property="activationGrowthRate" />
            <result column="today_day_approved_growth_rate" property="approvedGrowthRate" />
            <result column="today_day_artificial_growth_rate" property="artificialGrowthRate" />
            <result column="today_day_refuse_growth_rate" property="refuseGrowthRate" />
            <result column="today_day_all_growth_rate" property="allGrowthRate" />
            <result column="today_day_valid_growth_rate" property="validGrowthRate" />
            <result column="today_day_ratio_growth_rate" property="ratioGrowthRate" />
        </collection>

        <collection property="dataStatisticsTodayWeeks" ofType="com.example.manage.entity.data_statistics.DataStatisticsTodayWeek">
            <result column="today_week_activation" property="activation" />
            <result column="today_week_approved" property="approved" />
            <result column="today_week_artificial" property="artificial" />
            <result column="today_week_refuse" property="refuse" />
            <result column="today_week_all" property="all" />

            <result column="today_week_name" property="nametype" />
            <result column="today_week_start_time" property="startTime" />
            <result column="today_week_end_time" property="endTime" />

            <result column="today_week_activation_growth_rate" property="activationGrowthRate" />
            <result column="today_week_approved_growth_rate" property="approvedGrowthRate" />
            <result column="today_week_artificial_growth_rate" property="artificialGrowthRate" />
            <result column="today_week_refuse_growth_rate" property="refuseGrowthRate" />
            <result column="today_week_all_growth_rate" property="allGrowthRate" />
            <result column="today_week_valid_growth_rate" property="validGrowthRate" />
            <result column="today_week_ratio_growth_rate" property="ratioGrowthRate" />
        </collection>

        <collection property="dataStatisticsTodayMonths" ofType="com.example.manage.entity.data_statistics.DataStatisticsTodayMonth">
            <result column="today_month_activation" property="activation" />
            <result column="today_month_approved" property="approved" />
            <result column="today_month_artificial" property="artificial" />
            <result column="today_month_refuse" property="refuse" />
            <result column="today_month_all" property="all" />

            <result column="today_month_name" property="nametype" />
            <result column="today_month_start_time" property="startTime" />
            <result column="today_month_end_time" property="endTime" />

            <result column="today_month_activation_growth_rate" property="activationGrowthRate" />
            <result column="today_month_approved_growth_rate" property="approvedGrowthRate" />
            <result column="today_month_artificial_growth_rate" property="artificialGrowthRate" />
            <result column="today_month_refuse_growth_rate" property="refuseGrowthRate" />
            <result column="today_month_all_growth_rate" property="allGrowthRate" />
            <result column="today_month_valid_growth_rate" property="validGrowthRate" />
            <result column="today_month_ratio_growth_rate" property="ratioGrowthRate" />
        </collection>

        <collection property="dataStatisticsTodayCustoms" ofType="com.example.manage.entity.data_statistics.DataStatisticsTodayCustom">
            <result column="today_custom_activation" property="activation" />
            <result column="today_custom_approved" property="approved" />
            <result column="today_custom_artificial" property="artificial" />
            <result column="today_custom_refuse" property="refuse" />
            <result column="today_custom_all" property="all" />

            <result column="today_custom_name" property="nametype" />
            <result column="today_custom_start_time" property="startTime" />
            <result column="today_custom_end_time" property="endTime" />

            <result column="today_custom_activation_growth_rate" property="activationGrowthRate" />
            <result column="today_custom_approved_growth_rate" property="approvedGrowthRate" />
            <result column="today_custom_artificial_growth_rate" property="artificialGrowthRate" />
            <result column="today_custom_refuse_growth_rate" property="refuseGrowthRate" />
            <result column="today_custom_all_growth_rate" property="allGrowthRate" />
            <result column="today_custom_valid_growth_rate" property="validGrowthRate" />
            <result column="today_custom_ratio_growth_rate" property="ratioGrowthRate" />
        </collection>

    </resultMap>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
            select
            count(1)

            ,'日' as today_day_name
            ,'周' as today_week_name
            ,'月' as today_month_name
            ,'自定义' as today_custom_name

            ,(SELECT CURDATE()) as today_day_start_time

            ,(select date_sub(curdate(),INTERVAL WEEKDAY(curdate()) DAY)) as today_week_start_time
            ,(select date_sub(curdate(),INTERVAL WEEKDAY(curdate()) - 6 DAY)) as today_week_end_time

            ,(SELECT concat(date_format(LAST_DAY(now()),'%Y-%m-'),'01')) as today_month_start_time
            ,(SELECT LAST_DAY(now())) as today_month_end_time

            ,#{startTime}  as today_custom_start_time
            ,#{endTime}  as today_custom_end_time

            ,today_start_custom.valid_number as today_custom_activation
            ,today_start_custom.approved_number as today_custom_approved
            ,today_start_custom.entry_number - today_start_custom.approved_number - today_start_custom.refuse_number  as today_custom_artificial
            ,today_start_custom.refuse_number as today_custom_refuse
            ,today_start_custom.entry_number as today_custom_all

            ,format(coalesce((today_start_custom.valid_number
            -
            today_end_yester.valid_number)
            /
            today_end_yester.valid_number
            *
            <include refid="percentageSql" />,0) , 2)
            as
            today_custom_activation_growth_rate

            ,format(coalesce((today_start_custom.approved_number - today_start_custom.valid_number)
            -
            (today_end_yester.approved_number - today_end_yester.valid_number)
            /
            (today_end_yester.approved_number - today_end_yester.valid_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_custom_approved_growth_rate

            ,format(coalesce((today_start_custom.approved_number / today_start_custom.entry_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_custom_ratio_growth_rate

            ,format(coalesce((today_start_custom.approved_number
            -
            (today_end_yester.approved_number))
            /
            (today_end_yester.approved_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_custom_valid_growth_rate

            ,today_day.valid_number as today_day_activation
            ,today_day.approved_number as today_day_approved
            ,today_day.entry_number - today_day.approved_number - today_day.refuse_number  as today_day_artificial
            ,today_day.refuse_number as today_day_refuse
            ,today_day.entry_number as today_day_all

            ,today_week.valid_number as today_week_activation
            ,today_week.approved_number as today_week_approved
            ,today_week.entry_number - today_week.approved_number - today_week.refuse_number as today_week_artificial
            ,today_week.refuse_number as today_week_refuse
            ,today_week.entry_number as today_week_all

            ,today_month.valid_number as today_month_activation
            ,today_month.approved_number as today_month_approved
            ,today_month.entry_number - today_month.approved_number - today_month.refuse_number as today_month_artificial
            ,today_month.refuse_number as today_month_refuse
            ,today_month.entry_number as today_month_all

            ,today_yester.valid_number as today_yester_activation
            ,today_yester.approved_number as today_yester_approved
            ,today_yester.entry_number - today_yester.approved_number - today_yester.refuse_number as today_yester_artificial
            ,today_yester.refuse_number as today_yester_refuse
            ,today_yester.entry_number as today_yester_all

            ,last_week.valid_number as last_week_activation
            ,last_week.approved_number as last_week_approved
            ,last_week.entry_number - last_week.approved_number - last_week.refuse_number as last_week_artificial
            ,last_week.refuse_number as last_week_refuse
            ,last_week.entry_number as last_week_all

            ,last_month.valid_number as last_month_activation
            ,last_month.approved_number as last_month_approved
            ,last_month.entry_number - last_month.approved_number - last_month.refuse_number as last_month_artificial
            ,last_month.refuse_number as last_month_refuse
            ,last_month.entry_number as last_month_all

            ,format(coalesce((today_day.valid_number
            -
            today_yester.valid_number)
            /
            today_yester.valid_number
            *
            <include refid="percentageSql" />,0) , 2)
            as
            today_day_activation_growth_rate

            ,format(coalesce((today_day.approved_number - today_day.valid_number)
            -
            (today_yester.approved_number - today_yester.valid_number)
            /
            (today_yester.approved_number - today_yester.valid_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_day_approved_growth_rate

            ,format(coalesce((today_day.approved_number / today_day.entry_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_day_ratio_growth_rate

            ,format(coalesce(
            (today_week.approved_number / today_week.entry_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_week_ratio_growth_rate

            ,format(coalesce((today_month.approved_number / today_month.entry_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_month_ratio_growth_rate

            ,format(coalesce((today_day.approved_number
            -
            (today_yester.approved_number))
            /
            (today_yester.approved_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_day_valid_growth_rate

            ,format(coalesce(((today_week.approved_number)
            -
            (last_week.approved_number))
            /
            (last_week.approved_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_week_valid_growth_rate

            ,format(coalesce(((today_month.approved_number)
            -
            (last_month.approved_number))
            /
            (last_month.approved_number)
            *
            <include refid="percentageSql" />,0),2)
            as
            today_month_valid_growth_rate
            from
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="todayStartCustom" />
            )
            as
            today_start_custom
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="todayEndCustom" />
            )
            as
            today_end_yester
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="todayDay" />
            )
            as
            today_day
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="yesterday" />
            )
            as
            today_yester
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="todayWeek" />
            )
            as
            today_week
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="todayMonth" />
            )
            as
            today_month
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="lastWeek" />
            )
            as
            last_week
            ,
            (
            SELECT
            <include refid="returnCount" />
            FROM
            <include refid="tableSql" />
            <include refid="relevanceSql" />
            <include refid="whereSqlModel" />
            <include refid="lastMonth" />
            )
            as
            last_month
    </select>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="manageCardTypeId != null and manageCardTypeId != ''">
            and <include refid="tableSqlPReport" />.card_type_id = #{manageCardTypeId}
        </if>
        <if test="managementId != null and managementId != ''">
            and <include refid="tableSqlPReport" />.management_id = #{managementId}
        </if>
        <include refid="reportApproverState" />
        <if test="inManagementId != null and inManagementId != ''">
            and <include refid="tableSqlPReport" />.management_id in
            <foreach collection="inManagementId" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
    </sql>
    <sql id="tableSql">
        manage.performance_report
    </sql>
    <!--  倍数  -->
    <sql id="percentageSql">
        100
    </sql>
    <!--  关联表  -->
    <sql id="tableSqlPReport">
        manage.performance_report
    </sql>
    <!--  关联表  -->
    <sql id="tableSqlSManagement">
        manage.sys_management
    </sql>
    <!--  关联表  -->
    <sql id="tableSqlMCType">
        manage.manage_card_type
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
<!--        LEFT JOIN <include refid="tableSqlPReport" /> ON <include refid="tableSql" />.management_id = <include refid="tableSqlPReport" />.management_id-->
<!--        -->
<!--        LEFT JOIN <include refid="tableSqlSManagement" /> ON <include refid="tableSqlSManagement" />.id = <include refid="tableSql" />.management_id-->

<!--        LEFT JOIN <include refid="tableSqlMCType" /> ON <include refid="tableSqlMCType" />.manage_code = <include refid="tableSqlSManagement" />.management_code-->
    </sql>
    <!--  通过状态  -->
    <sql id="reportApproverState">
        AND <include refid="tableSqlPReport" />.approver_state = 'agree'
    </sql>
    <!--  本日  -->
    <sql id="todayDay">
        AND to_days(<include refid="tableSqlPReport" />.report_time) = to_days(NOW())
    </sql>
    <!--  本周  -->
    <sql id="todayWeek">
        AND YEARWEEK(date_format(<include refid="tableSqlPReport" />.report_time ,'%Y-%m-%d') - INTERVAL 1 DAY) = YEARWEEK(now() - INTERVAL 1 DAY)
    </sql>
    <!--  本月  -->
    <sql id="todayMonth">
        AND DATE_FORMAT( <include refid="tableSqlPReport" />.report_time, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
    </sql>
    <!--  自定义日期  -->
    <sql id="todayStartCustom">
        AND <include refid="tableSqlPReport" />.report_time BETWEEN #{thisStartTime} AND #{thisEndTime}
    </sql>
    <!--  自定义日期  -->
    <sql id="todayEndCustom">
        AND <include refid="tableSqlPReport" />.report_time BETWEEN #{thatStartTime} AND #{thatEndTime}
    </sql>
    <!--  30分钟内记录  -->
    <sql id="within30Minutes">
        AND <include refid="tableSqlPReport" />.report_time > CURRENT_TIMESTAMP - INTERVAL 30 MINUTE
    </sql>
    <!--  48小时内的数据  -->
    <sql id="inFortyEightHours">
        AND DATE(<include refid="tableSqlPReport" />.report_time) > date_sub(curdate(),interval 2 day)
    </sql>
    <!--  昨天记录  -->
    <sql id="yesterday">
        AND date(<include refid="tableSqlPReport" />.report_time)= DATE(NOW() - INTERVAL 1 DAY)
    </sql>

    <!--  上周记录  -->
    <sql id="lastWeek">
        <choose>
            <when test="lastMondayStart != null and lastMondayStart != '' and lastMondayEnd != null and lastMondayEnd != ''">
                AND <include refid="tableSqlPReport" />.report_time BETWEEN #{lastMondayStart} AND #{lastMondayEnd}
            </when>
            <otherwise>
                AND WEEK(<include refid="tableSqlPReport" />.report_time, 1) = WEEK(DATE_SUB(NOW(), INTERVAL 1 WEEK), 1)
            </otherwise>
        </choose>
    </sql>
    <!--  上月记录  -->
    <sql id="lastMonth">
        <choose>
            <when test="lastMonthTimeStart != null and lastMonthTimeStart != '' and lastMonthTimeEnd != null and lastMonthTimeEnd != ''">
                AND <include refid="tableSqlPReport" />.report_time BETWEEN #{lastMonthTimeStart} AND #{lastMonthTimeEnd}
            </when>
            <otherwise>
                AND PERIOD_DIFF( date_format( now( ) , '%Y%m' ) , date_format( <include refid="tableSqlPReport" />.report_time , '%Y%m' ) ) = 1
            </otherwise>
        </choose>
    </sql>
    <!--  激活状态  -->
    <sql id="statusActivation">
        AND <include refid="tableSqlPReport" />.report_status = '批核已激活'
    </sql>
    <!--  批核未激活状态  -->
    <sql id="statusApproved">
        AND <include refid="tableSqlPReport" />.report_status in ('批核未激活','批核已激活')
    </sql>
    <!--  转人工状态  -->
    <sql id="statusArtificial">
        AND <include refid="tableSqlPReport" />.report_status = '转人工'
    </sql>
    <!--  拒绝  -->
    <sql id="statusRefuse">
        AND <include refid="tableSqlPReport" />.report_status = '拒绝'
    </sql>
    <!--  返回条数  -->
    <sql id="returnCount">
        COALESCE(SUM(<include refid="tableSqlPReport" />.entry_number), 0 ) as entry_number,
        COALESCE(SUM(<include refid="tableSqlPReport" />.approved_number), 0 ) as approved_number,
        COALESCE(SUM(<include refid="tableSqlPReport" />.valid_number), 0 ) as valid_number,
        COALESCE(SUM(<include refid="tableSqlPReport" />.refuse_number), 0 ) as refuse_number
    </sql>
</mapper>