<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.manage.mapper.WhiteManageRMMapper">
    <resultMap id="entity" type="com.example.manage.entity.SysPersonnel">
        <result column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="place_of_domicile" property="placeOfDomicile" />
        <result column="personnel_code" property="personnelCode" />
        <result column="username" property="username" />
        <result column="role_id" property="roleId" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="position_post" property="positionPost" />
        <result column="image" property="image" />
        <result column="birthday" property="birthday" />
        <result column="employment_status" property="employmentStatus" />
        <result column="chief_steward_id" property="chiefStewardId" />
        <result column="salary" property="salary" />
        <result column="standby_application" property="standbyApplication" />
        <result column="official_or_trainee_staff" property="officialOrTraineeStaff" />
        <result column="social_security_payment" property="socialSecurityPayment" />
        <result column="commercial_insurance" property="commercialInsurance" />
        <result column="entry_time" property="entryTime" />
        <result column="id_number" property="idNumber" />
        <result column="emergency_contact_name" property="emergencyContactName" />
        <result column="emergency_contact_phone" property="emergencyContactPhone" />
        <result column="permanent_residence" property="permanentResidence" />
        <result column="leave_time" property="leaveTime" />
        <association property="sysRole" javaType="com.example.manage.entity.SysRole">
            <result column="r_id" property="id" />
            <result column="r_name" property="name" />
            <result column="r_number" property="number" />
            <result column="r_level_sorting" property="levelSorting" />
        </association>
    </resultMap>
    <select id="queryAll" resultMap="entity" parameterType="hashmap">
        select
        <include refid="returnSql" />
        from
        <include refid="tableSql" />
        <include refid="relevanceSql" />
        <include refid="whereSqlModel" />
        <include refid="safeOrderBy" />
    </select>

    <!--  返回  -->
    <sql id="returnSql">
        sys_personnel.*
        ,sys_role.id as r_id
        ,sys_role.name as r_name
        ,sys_role.number as r_number
        ,sys_role.level_sorting as r_level_sorting
    </sql>
    <!--  进行关联表  -->
    <sql id="relevanceSql">
        LEFT JOIN sys_personnel on <include refid="tableSql" />.personnel_code = sys_personnel.personnel_code
        LEFT JOIN sys_management on sys_management.id = <include refid="tableSql" />.management_id
        LEFT JOIN sys_role on sys_role.id = sys_personnel.role_id
    </sql>
    <sql id="tableSql">
        manage.management_personnel
    </sql>
    <sql id="whereSqlModel">
        where 1 = 1
        <if test="sysManagements != null"> and sys_management.`id` in
            <foreach collection="sysManagements" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
        </if>
        <if test="sysRoles != null"> and sys_personnel.`role_id` in
            <foreach collection="sysRoles" separator="," item="item" open="(" close=")">
                #{item}
            </foreach>
         </if>
        <if test="employmentStatus != null">
            and sys_personnel.`employment_status` = #{employmentStatus}
        </if>
    </sql>
    <sql id="safeOrderBy">
        order by <include refid="tableSql"/>.id desc
    </sql>
</mapper>
